# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Vercel
.vercel

# Mac OS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo